@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.google.com/specimen/Spartan");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; /* This is your main color (light) for dark mode */
  }
}

body {
  color: var(--foreground); /* Use the foreground color */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-desaturated-dark-cyan {
  background-color: hsl(180, 29%, 50%);
}

.bg-light-grayish-cyan {
  background-color: hsl(180, 52%, 96%);
}
.bg-light-grayish-cyan-filter-tablets {
  background-color: hsl(180, 31%, 95%);
}
.bg-dark-grayish-cyan {
  background-color: hsl(180, 8%, 52%);
}
.bg-very-dark-grayish-cyan {
  background-color: hsl(180, 14%, 20%);
}
.text-primary {
  color: hsl(180, 29%, 50%);
}

.main-header-div {
  height: 120px;
}

.header-filter-div {
  bottom: -30px;
}

.header-filter-div-mobile {
  top: 10px;
}

.pt-60 {
  padding-top: 60px;
}
.pt-90 {
  padding-top: 90px;
}

.role-overview-div > span:hover {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}

.job-position-div:hover {
  cursor: pointer;
  color: hsl(180, 29%, 50%);
}

.filter-delete-icon:hover {
  background-color: hsl(180, 14%, 20%);
}
